language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly
  - hhvm

matrix:
  allow_failures:
    - php: nightly
    - php: hhvm

sudo: false

before_install:
  - wget https://phar.phpunit.de/phpunit-5.7.phar

install:
  - travis_retry composer install --no-interaction

script:
  - php phpunit-5.7.phar
